// Custom styles.

// 主页文章添加阴影效果
.post-context {
  +desktop(){
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    -webkit-box-shadow: 0 0 5px #A1A1A1;
    -moz-box-shadow: 0 0 5px #A1A1A1;
  }
}